* {
   margin: 0;
   padding: 0;
   border:0; 
}

body{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

ul{
    display: inline-block;
    width: 100%;
    background-color: grey;
    height: 10%;
    padding: 10px 0px 10px 0px;
}

li{
    margin: 5px 0px;
    display: inline-block;
}

li:hover{
    color:grey;
}

.menu a{
    line-height: 30px;
    text-decoration: none;
    padding: 10px 10px;
    height: 30px;
    display: inline-block;
    background-color: grey;
    margin: 0px 10px;
}

a:link
{
    color: white;
}

a:hover
{
    background-color:orange;
}

a:active
{
    background-color: orange;
}
a:visited
{
    color: white;
}

.intro{
    background-color: orange;
    padding: 20px;
    color: grey;
    text-align: center;
}

.quisoc{
    color: grey;
    text-align: center;
    overflow: hidden;
}

.floreta-gris{
    margin-top: 5px;
    size: 50px;
    height: 50px;
    transform: rotate(360deg);
}

@keyframes rotacio{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.floreta-gris:hover{
    animation: 5s rotacio linear infinite;
    size: 60px;
    height: 60px;
    margin-top: 0px;
}

h1{
    font-size: 50px;
    font-weight: bolder;
}
h2{
    font-size: 30px;
    margin-top: 5px;
    font-weight: 100;
    text-align: center;
}

p{
    font-weight: lighter;
}

.selfdefinicio{
    float: left;
    text-align: center;
    font-size: 20px;
    width: 50%;
}

.definicio{
    color:grey;
    font-size: 20px;
    line-height: 23px;
    font-weight:100 ;
    width: 700px;
    margin: auto;
    padding: 10px 10px; 
}

.dibuixjo{
    background-image: url(../img/dibuixjot.png);
    background-size: 100%;
    height: 370px;
    width: 370px;
    background-repeat: no-repeat;
    margin: auto;
}

.dibuixjo:hover{
    background-image: url(../img/dibuixjobw.png);
    background-size: 100%;
    height: 370px;
    width: 370px;
    background-repeat: no-repeat;
    margin: auto;
}

.einesdg{
    width: 50%;
    float: right;
}

h3{
    color:grey;
    font-size: 30px;
    font-weight:500;
    width: 700px;
    margin:150px 0px 20px 100px;
}

table {
    color:grey;
    font-size: 20px;
    line-height: 40px;
    border: 5px solid orange;
    width: 450px;
    margin: -5px 40px 0px 240px;
    border-radius: 2px;
    font-weight: 100;
}

td:hover{
    font-weight: 500;
}

.portafoli{
    width: 100%;
    background-color: orange;
    margin-top: 20px;
}

h4{
    color:grey;
    font-size: 50px;
    font-weight:bolder;
    text-align: center;
    padding: 30px;
}

.fila{
    overflow: hidden;
    width: 1540px;
    margin: auto;
}

.exercisi{
    height: 300px;
    width: 700px;
    filter: grayscale(100%);
    margin: 10px 0px 35px 35px ;
    position: relative;
}

.exercisi:hover{
    filter: grayscale(0%);
}

.ee{
    float: left;
}

.ed{
    float: right;
}

.nom{
    color:grey;
    font-size: 30px;
    line-height: 40px;
    font-weight:600; 
    text-align: center;
    margin-bottom: 10px;
}

.explicacio{
    height: auto;
    width: 45%;
    float: left;
    text-align: left; 
    font-size: 20px;
    font-weight:100; 
    margin:70px 0px 0px 10px;
    color: white;
    padding-right: 10px;
}

.visual{
    height: 250px;
    width: 50%;
    float: left;
}

.contacte{
    height:auto;
    width: 100%;
    background-color: grey;
}

h5{
    color:orange;
    font-size: 30px;
    font-weight:bolder;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

h6{
    color:orange;
    font-size: 25px;
    font-weight:100;
    text-align: center;
    padding-bottom: 20px;
}

h6:hover{
    font-weight: bold;
}

.control{
    width:50px;
    height:50px;
    background-color: orange;
    border-radius: 50%;
    position: fixed;
    right:50px;
    bottom: 30px;
    border: 5px solid grey;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: grey;
}

.control:hover{
    width:55px;
    height:55px;
    text-align: center;
    line-height: 68px;
    right:48px;
    bottom: 28px;
}

@media(max-width:375px){
    .menu a{
        padding: 10px 9px;
    }
    h2{
        font-size: 25px;
    }
    .nom{
        width: 100%;
    }
    .fila{
        width: 375px;
        margin:0%;
    }
    .exercisi{
        height: 265px;
        width: 375px;
        margin: 5px 5px 10px 10px ;
        float: none;
    }
    .explicacio{
        width: 40%;
        margin:10px 0px 0px 10px;
        font-size: 15px;
    }
    .visual{
        height: 150px;
        width: 200;
        float: left;
    }
    .einesdg{
        width: 100%;
    }
    .selfdefinicio{
        width: 100%;
    }
    .definicio{
        width: 300px;
        font-size: 15px;
        padding:5px 5px ;
    }
    h3{
        width: 300px;
        margin:20px 0px 15px 40px;
        font-size: 25px;
    }
    table{
        margin: auto;
        font-size: 15px;
        line-height: 30px;
        border: 3px solid orange;
        width: 300px;
        margin: 0px 0px 0px 40px;
    }
    .control{
        width:30px;
        height:30px;
        right:20px;
        bottom: 20px;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }
    .control:hover{
        width:35px;
        height:35px;
        line-height: 44px;
        right:18px;
        bottom: 18px;
    }
}

@media (min-width:376px) and (max-width:770px){
    .exercisi{
        height: 200px;
    }
    .nom{
        width: 60%;
    }
    .fila{
        width: 770px;
    }
    .explicacio{
        width: 30%;
        margin:10px 0px 0px 10px;
        font-size: 18px;
    }
    .visual{
        height: 150px;
        width: 30%;
        float: left;
    }
    h1{
        font-size: 40px;
        font-weight: bolder;
    }
    .einesdg{
        width: 100%;
    }
    .selfdefinicio{
        width: 100%;
    }
    .definicio{
        width: 500px;
    }
    h3{
        width: 100%;
        margin:20px 0px;
        font-size: 25px;
    }
    table{
        margin: auto;
    }
}

@media (min-width:771px) and (max-width:1540px){
    .fila{
        width: 770px;
    }
    .einesdg{
        width: 100%;
    }
    .selfdefinicio{
        width: 100%;
    }
    h3{
    width: 100%;
    margin:20px 0px;
    }
    table{
    margin: auto;
    }
}

@media (min-width:1541px){
    
}