body{
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.superior{
    width: 100%;
    height: 50px;
    background-color: #222;
    margin: 0;
    position: fixed;
    float: left;
}

.logo{
    margin: 5px 5px 20px 20px;
    opacity: 100%;
}

ul{
    overflow: hidden;
    display: inline;
    vertical-align: bottom;
}
li {
    margin: 5px 0;
    display: inline-block;
    color: white;
    padding: 0 5px;
    height: 26px;
}

.pelis{
    height: 500px;
    width: 1900px;
    float: left;
    margin-top: 50px
}

h1{
    color: white;
}

.koya{
    width: 175px;
    height: 300px;
    margin-left:20px;
    margin-top:20px;
    float: left;
}

.koya:hover{
    opacity: 50%;
    background: #222;
}
.portada1{
    width: 175px;
    height: 260px;
    background-image: url(../img/1982Koyaanisqatsi.jpg);
    border-radius: 5px;
}

.titol1{
    color: white;
    font-size: 14px;
}

.any1{
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 11px;
    float: left
}

.tipus1{
    color: white;
    font-size: 11px;
    margin-left: 85px;
    margin-top: 10px;
    float: left;
}

.ytuquesabes{
    width: 175px;
    height: 300px;
    margin-left:20px;
    margin-top:20px;
    float: left;
}

.ytuquesabes:hover{
    opacity: 50%;
    background: #222;
}
.portada2{
    width: 175px;
    height: 260px;
    background-image: url(../img/2004YTuQueSabes.jpg);
    border-radius: 5px;
}

.titol2{
    color: white;
    font-size: 14px;
}

.any2{
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 11px;
    float: left
}

.tipus2{
    color: white;
    font-size: 11px;
    margin-left: 85px;
    margin-top: 10px;
    float: left;
}

.earth{
    width: 175px;
    height: 300px;
    margin-left:20px;
    margin-top:20px;
    float: left;
}

.earth:hover{
    opacity: 50%;
    background: #222;
}

.portada3{
    width: 175px;
    height: 260px;
    background-image: url(../img/2005Earthlings.jpg);
    border-radius: 5px;
}

.titol3{
    color: white;
    font-size: 14px;
}

.any3{
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 11px;
    float: left
}

.tipus3{
    color: white;
    font-size: 11px;
    margin-left: 85px;
    margin-top: 10px;
    float: left;
}

.helvetica{
    width: 175px;
    height: 300px;
    margin-left:20px;
    margin-top:20px;
    float: left;
}

.helvetica:hover{
    opacity: 50%;
    background: #222;
}
.portada4{
    width: 175px;
    height: 260px;
    background-image: url(../img/2007Helvetica.jpg);
    border-radius: 5px;
}

.titol4{
    color: white;
    font-size: 14px;
}

.any4{
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 11px;
    float: left
}

.tipus4{
    color: white;
    font-size: 11px;
    margin-left: 85px;
    margin-top: 10px;
    float: left;
}

.sicko{
    width: 175px;
    height: 300px;
    margin-left:20px;
    margin-top:20px;
    float: left;
}

.sicko:hover{
    opacity: 50%;
    background: #222;
}
.portada5{
    width: 175px;
    height: 260px;
    background-image: url(../img/2007Sicko.jpg);
    border-radius: 5px;
}

.titol5{
    color: white;
    font-size: 14px;
}

.any5{
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 11px;
    float: left
}

.tipus5{
    color: white;
    font-size: 11px;
    margin-left: 85px;
    margin-top: 10px;
    float: left;
}