body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenidor{
    width: 1716px;
    margin: auto;
}

.nav{
    height: 166px;
}

.friends{
    height: 180px;
    width: 1300px;
    margin: auto;
}

.pics{
    height: 1860px;
}

.logo{
    background-color: yellow;
    width: 217px;
    height: 51px;
    float: left;
    background-image:url(../img/logo.jpg);
    margin: 50px 0 0 0;
}

.menu{
    width: 323px;
    height: 51px;
    float: left;
    ackground-image: url(../img/menu.jpg);
    margin: 50px 0 0 479px ;
}

.menu ul{
    margin: 0;
}
.menu ul li{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    float: left;
    display: block;
    background-image: url(../img/menu.jpg);
}

.menu ul li:hover{
    opacity: 0.6;
    display: block;
}

.inici{
    background-position: -18px -5px;
}

.cerca{
    background-position: -103px -5px;
}

.directes{
    background-position: -188px -5px;
}

.favorits{
    background-position: -273px -5px;
}

.perfil{
    width: 80px;
    height: 120px;  
    margin: 20px;
    float: left;
}

.photo{
    width: 80px;
    height: 80px;
    background-position: center;
    background-image: url(../img/perfil.jpg);
    opacity: 1;
    border-radius: 50%;
    background-size: cover;
    border:rgb(0, 0, 112) 4px solid;
    box-shadow: inset 0 0 2px white;
}

.tolga{
background-image: url(../img/tolga.jpg);
}

.alba{
background-image: url(../img/alba.jpg);
}

.miki{
background-image: url(../img/miki.jpg);
}

.nana{
background-image: url(../img/nana.jpg);
}

.judit{
background-image: url(../img/judit.jpg);
}

.vane{
background-image: url(../img/vane.jpg);
}

.genis{
background-image: url(../img/genis.jpg);
}

.iris{
background-image: url(../img/iris.webp);
}

.ana{
background-image: url(../img/ana.jpg);
}

.ale{
background-image: url(../img/ale.jpg);
}

.nom{
    text-align: center;
}

.perfil:hover{
    opacity: 0.6;
}

.afegir{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    left: 60px;
    top: -70px;
    line-height: 20px;
    color: white;
    text-align: center;
}

.post{
    width: 536px;
    height: 628px;
    margin: 18px;
    float: left;
}

.imatge{
    background-image: url(../img/ifpagram_09.jpg);
    width: 536px;
    height: 536px;
}

.info{
    width: 268px;
    height: 84px;
    float: left;
}

.reaccions{
    width: 268px;
    height: 84px;
    float: left;
    margin-top: 4px;

}

.autor{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    background-image: url(../img/alba.jpg);
    background-size: cover;
    border-radius: 50%;
}

.usuari{
    height: 25px;
    width: 198px;
    margin: 10px 0 0 0;
    float: left;
}

.quan{
    height: 25px;
    width: 198px;
    margin: 0;
    float: left;
    color: grey;
    font-size: 12px;
}

.like{
    height: 25px;
    width: 50%;
    margin: 3px 0 0 0;
    float: left;
    text-align: right;
    font-size: 16px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.cors{
    height: 25px;
    width: 25px;
    margin:0;
    background: red;
    float: left;
    background-image: url(../img/corazon.jpg);
    background-size: cover;
}

.mes{
    height: 25px;
    width: 50%;
    text-align: right;
    clear: both;
    margin:0;
}

.i1{
    background-image: url(../img/ifpagram_09.jpg);
}

.i2{
    background-image: url(../img/ifpagram_11.jpg);
}

.i3{
    background-image: url(../img/ifpagram_13.jpg);
}
.i4{
    background-image: url(../img/ifpagram_18.jpg);
}

.i5{
    background-image: url(../img/ifpagram_19.jpg);
}

.i6{
    background-image: url(../img/ifpagram_21.jpg);
}

.i7{
    background-image: url(../img/ifpagram_24.jpg);
}
.i8{
    background-image: url(../img/ifpagram_25.jpg);
}
.i9{
    background-image: url(../img/ifpagram_26.jpg);
}

input[type=checkbox]{
  visibility: hidden
}

.cor{
  margin:5px 0 0 5px;
  width:1rem;
  height: 1rem;
  background-image:
url(https://staging.svgrepo.com/show/13666/heart.svg);
  background-size:1rem 1rem;
  position:relative;
  float:left;
}

.cor label{
  display: block;
  width:1rem;
  height: 1rem;
  cursor:pointer;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/A_perfect_SVG_heart.svg/684px-A_perfect_SVG_heart.svg.png?20180121090836);
  background-size: 1rem 1rem;
  float: left;
}

.cor input[type=checkbox]:checked+label{
  opacity:1;
}

