div{
    width: 57mm;
    height: 90mm;
    background-color: purple;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
}

#v1{
    left: 18mm;
    top: 8mm;
    background-image: url(img/Còpia\ de\ Watch1.png);
}

#v2{
    left: 78mm;
    top: 8mm;
    background-image: url(img/Còpia\ de\ Watch2.png);
}

#v3{
    left: 137mm;
    top: 8mm;
    background-image: url(img/Còpia\ de\ Watch3.png);
}

#v4{
    left: 18mm;
    top: 102mm;
    background-image: url(img/Còpia\ de\ Watch4.png);
}

#v5{
    left: 78mm;
    top: 102mm;
    background-image: url(img/Còpia\ de\ Watch5.png);
}

#v6{
    left: 137mm;
    top: 102mm;
    background-image: url(img/Còpia\ de\ Watch6.png);
}

#v7{
    left: 18mm;
    top: 196mm;
    background-image: url(img/Còpia\ de\ Watch7.png);
}

#v8{
    left: 78mm;
    top: 196mm;
     background-image: url(img/Còpia\ de\ Watch8.png);
}

#v9{
    left: 137mm;
    top: 196mm;
    background-color: cadetblue;
    background-image: url(img/Còpia\ de\ Watch9.png);
}

