body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: purple;
    text-align: center;
    text-shadow: 1px 1px 3px grey;
}

p{
    text-indent: 50px;
}

.contenidor{
    width: 1280px;
    margin: auto;
}

.cap{
    height: 120px;
}

.cos{
    overflow: scroll;
}

.peu{
    background-color: black;
    height: 300px;
}

li{
    background-color: white;
    height: 50px;
    width: 180px;
    margin: 10px;
    float: left;
}

.esquerra, .centre, .dreta{
    width: 20%;
    float: left;
}

.centre{
    background-color: purple;
    width: 60%;
    overflow: scroll;
    color: white;
    height: 600px;
}

.dreta{
    background-color: yellowgreen;
}
