body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 30, 54);
    border-radius: 20%;
    text-align: center;
    color:	rgb(49, 168, 255);
    font-size: 130px;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-content: center;
    margin: auto;
}

.contenidor{
    width: 1100px;
    margin: 50 px auto;
}

.efecte{
    width: 200px;
    height: 250px;
    margin: 10px;
    float: left;
}

.efecte img{
    width: 200px;
}

.efecte p{
    text-align: center;
}

.efecte input{
    width: 200px;
}

.desenfocar img{
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
         -o-filter: blur(5px);
            filter: blur(5px);
}

.grisos img{
    filter: grayscale(100%);
}

.ombra img{
    filter: drop-shadow(6px 6px 6px purple) ;
}

.sepia img{
    filter: sepia(100%);
}

.lluminositat img{
    filter: brightness(200%);
}

.contrast img{
    filter: contrast(50%);
}

.to img{
    filter: hue-rotate(90deg);
}

.invertir img{
    filter: invert(50%);
}

.saturar img{
    filter: saturate(300%);
}

.opacitat img{
    filter: opacity(30%);
}

h1{
    font-size: 48px;
    background: #aaa;
    clear: both;
}

.fruita{
    background-image: url(../img/maduixa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.superposada{
    background-image: url(../img/llimona.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.multiplicar .superposada{
    mix-blend-mode: multiply;
}

.trama .superposada{
    mix-blend-mode: screen;
}

.superposar .superposada{
    mix-blend-mode: overlay;
}

.enfosquir .superposada{
    mix-blend-mode: darken;
}

.aclarir .superposada{
    mix-blend-mode: lighten;
}

.colormesfosc .superposada{
    mix-blend-mode: hard-light;
}

.colormesclar .superposada{
    mix-blend-mode: soft-light;
}

.llumintensa .superposada{
    mix-blend-mode: color-burn;
}

llumsuau .superposada{
    mix-blend-mode: color-dodge;
}

.diferencia .superposada{
    mix-blend-mode: difference;
}

.exclusio .superposada{
    mix-blend-mode: exclusion;
}

.to .superposada{
    mix-blend-mode: hue;
}

.saturacio .superposada{
    mix-blend-mode: saturation;
}

.color .superposada{
    mix-blend-mode: color;
}

.lluminositat . .superposada{
    mix-blend-mode: luminosity;
}

.interruptor {
  width:40px;
  height:25px;
  background:#ccc;
  position:relative;
  border-radius:12.5px;
  border: 1px solid #999;
  margin:auto;
}

input[type=checkbox]{
  visibility:hidden;
  display:none;
}

label {
  display:block;
  width:23px;
  height:23px;
  background:orange;
  position:absolute;
  top:0;
  left:0;
  border-radius:25px;
  box-shadow:5px 0 5px grey;
  margin:auto;
}

input[type=checkbox]:checked+label {
  display:block;
  width:23px;
  height:23px;
  background:pink;
  position:absolute;
  top:0;
  left:15px;
  box-shadow:-5px 0 5px grey;
}












input[type=range]{
  -webkit-appearance:none;
  width:100%;
  background:transparent;
  margin:10px
}

input[type=range]::-webkit-slider-thumb{
   -webkit-appearance:none;
}

input[type=range]::focus{
   -webkit-appearance:none;
}

input[type=range]::-ms-track{
  witdh:100%;
  cursos:pointer;
}

/*anem fent apareixer els diferents elements*/
/*fem apareixer la maneta*/
input[type=range]::-webkit-slider-thumb{
  border:0.2px solid #333;
  height: 15px;
  width:15px;
  border-radius:100%;
  background: #fff;
  cursor:pointer;
  margin-top:-7px;
  box-shadow: 1px 1px 1px #000;
}

/*fem apareixer el carril*/

input[type=range]::-webkit-slider-runnable-track{
  width:100%;
  height:2px;
  cursor:pointer;
  box-shadow:0.5px 0.5px 0.5px #000;
  background: white;
  border-radius:1.3px;
  border:0.2px solid grey;
}

input[type=range]::-moz-slider-runnable-track{
  width:100%;
  height:2px;
  cursor:pointer;
  box-shadow:0.5px 0.5px 0.5px #000;
  background: white;
  border-radius:1.3px;
  border:0.2px solid grey;
}

input[type=range]::-ms-track{
  width:100%;
  height:2px;
  cursor:pointer;
  box-shadow:0.5px 0.5px 0.5px #000;
  background: white;
  border-radius:1.3px;
  border:0.2px solid grey;
}
